{% extends 'base.html' %}
{% block content %}

<h1>{{ '%s (%s items)' % (category, items|length) }}</h1>

{% for i in items %}
<div>
  <p><a href="{{url_for('public_page.viewCatalogItem', category = category, item_id = i.id)}}">{{i.name}}</a></p>
  <p>{{i.dt_modded}}</p>
</div>
{% endfor %}

<h1>View Categories</h1>
<!-- Display for category -->
<div>
  {% for cat in categories %}
  <ul>
    <a href="{{url_for('public_page.viewCategory', category = cat)}}"><p>{{cat}}</p></a>
  </ul>
  {% endfor %}
</div>

{% endblock %}
