{% extends 'base.html' %}
{% block content %}
<h1> Edit Item </h1>

<form action="{{url_for('private_page.editItem', item_id = item.id)}}" method = 'POST'>
    <p>Name:</p>
    <input type='text' size='30' name='name' value='{{item.name}}'><br>
    <p>Price:</p>
    <input type='text' size='30' name='price' value='{{item.price}}'><br>
    <p>Category:</p>
    <input type='text' size='30' name='category' value='{{item.category}}'><br>
    <p>Description:</p>
    <input type='text' size='30' name='description' value='{{item.description}}'><br><br>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type='submit' name='task' value='Submit'>
</form>

<a href="{{url_for('public_page.viewCatalogItem', category = item.category, item_id = item.id)}}">Cancel</a>
{% endblock %}